/* header section */
.hero-section{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../resources/BannerImage.png);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px 60px;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 10px;


}
.hero-content{
    text-align: center;
    color: white;
    
    
}
.hero-content h3{
    font-size: 30px;
}
.hero-content h1{
    font-size: 70px;
    font-weight: bolder;

}


/* categories section */

main{
    margin-top: 8rem;
}
.categories-content{
    text-align: center;
}
.categories-content h1{
    font-size: 70px;
    color: #FF0000;
    font-weight: bolder;
}
.categories-content h4{
   
    color: #FF0000;
    font-weight: bolder;
}
.categories-content h2{
    font-size: 35px;

    font-weight: bolder;
}