/* header section */
.hero-section{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../resources/BannerImage.png);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px 60px;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 10px;


}
.hero-content{
    text-align: center;
    color: white;
    
    
}
.hero-content h3{
    font-size: 30px;
}
.hero-content h1{
    font-size: 70px;
    font-weight: bolder;

}


/* categories section */

main{
    margin-top: 8rem;
}
.categories-content{
    text-align: center;
}
.categories-content h1{
    font-size: 70px;
    color: #FF0000;
    font-weight: bolder;
}
.categories-content h4{
   
    color: #FF0000;
    font-weight: bolder;
}
.categories-content h2{
    font-size: 35px;

    font-weight: bolder;
}

/* mind night section */

.mindnight-container{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../resources/Vectorrr.png);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.midnight-content{
    color: white;
    text-align: start;
}
.midnight-content h1{
   font-size: 80px;
   font-weight: bold;
}
.midnight-content p{
  color: gray;
}
.midnight-content a{
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;

}
.mindnight-img img{
  width: 370px;
}

/* information-container */
.information-container{
    text-align: center;
    background-image: linear-gradient(#FFE7E7, #FFFAFA);
    margin: 80px 60px;
    padding: 90px 10px;
}

.information-container h1 {
 font-size: 30px;
}


.information-container h1 span{
 color: red;
}
.information-container button{
 background-color: red;
 color: white;
 padding: 15px 25px;
 border-radius: 10px;
 border: none;
 font-size: 20px;
 margin-top: 20px;
}

/* best offer section style */
.best-offer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.best-offer-1st{
width: 20%;
}
.best-offer-1st h3{
color: red;
font-size: 25px;
}
.best-offer-1st h1{

font-size: 50px;
font-family: Arial, Helvetica, sans-serif;
}
.best-offer-1st h2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
   }

.best-offer-1st p{

color: gray;
}

.best-offer-img-container{
    border: 15px solid red;
    border-radius: 100%;
    padding: 30px;
}

.best-offer-img{
    width: 300px;
}